/*
 * css重置样式
 *
 * 2016-01-07
*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
li{ list-style:none;}
li{list-style-type:none}
body{font:14px/1.25 "Microsoft YaHei", "黑体", "Helvetica Neue", Helvetica, Arial !important;color:#333}
h1,h2,h3,h4,h5,h6{font-weight:300;*font-weight:normal}
strong{font-weight:bold} 
b{font-weight:300;*font-weight:normal}
i{display:inline-block;*display:inline;zoom:1}
ol,ul{list-style:none}
ul{ margin-bottom: 0;}
img{border:0;vertical-align:bottom;-ms-interpolation-mode:bicubic}
button,input,select,textarea{font-family:"Helvetica Neue",Helvetica,Arial}
button,label{cursor:pointer}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.5em}sub{bottom:-0.25em}
small{font-size:80%}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
audio:not([controls]){display:none;height:0}[hidden]{display:none}
abbr[title]{border-bottom:1px dotted}
cite,em{font-style:normal}
q{quotes:none}
q:before,q:after{content:'';content:none}
svg:not(:root){overflow:hidden}
a:focus{outline:0!important}
a:active,a:hover{outline:0;color:#cc1818;}
a{color:#333;text-decoration:none !important;}

/* 字体颜色原子类 */
.text-orange{color:#ff7800;}
.text-red{color:#eb0000;}
.text-lose{ color: #3C64DB;}
.text-tie{ color: #10af63;}
.text-green{ color: #10af63;}
.text-yellow{ color: #fffa10;}
.text-blue{ color: #2e76c7;}
.text-666{ color: #666;}
.text-999{ color: #999;}
.text-555{ color: #555;}
.text-ccc{ color: #ccc;}
.text-8a{ color: #8a8a8a;}
.text-gray{ color: #A9A9A9;}
.text-fff{ color: #ffffff;}

/* 背景原子类 */
.bg-orange{ background: #ff7e00; color:#fff;}
.bg-gray{ background: #e0e0e0; color:#000;}
.bg-jls{ background: #7572c3; color:#fff;}
.bg-kls{ background: #e96e6e; color:#fff;}
.bg-ogb{ background: #f3d654; color:#fff;}
.bg-sjb{ background: #cce45a; color:#fff;}

/* 无边框原子类 */
.no-b-t{ border-top: none!important;}
.no-b-b{ border-bottom: none!important;}
.no-b-l{ border-left: none!important;}
.no-b-r{ border-right: none!important;}

/* 文字方向 */
.text-l{ text-align: left!important;}
.text-r{ text-align: right!important;}
.text-c{ text-align: center!important;}


/*文字排版、颜色*/
.f12{font-size:12px}
.f14{font-size:14px}
.f16{font-size:16px}
.f18{font-size:18px}
.f20{font-size:20px}
.f24{font-size:24px}
.f26{font-size:26px}
.fb{font-weight:bold}


/*边距*/
/*padding-left*/
.pl5 {
	padding-left:5px
}
.pl10 {
	padding-left:10px
}
.pl15 {
	padding-left:15px
}
.pl20 {
	padding-left:20px
}
.pl25 {
	padding-left:25px
}
.pl30 {
	padding-left:30px
}
.pl35 {
	padding-left:35px
}
.pl40 {
	padding-left:40px
}
.pl45 {
	padding-left:45px
}
.pl50 {
	padding-left:50px
}
/*padding-right*/
.pr5 {
	padding-right:5px
}
.pr10 {
	padding-right:10px
}
.pr15 {
	padding-right:15px
}
.pr20 {
	padding-right:20px
}
.pr25 {
	padding-right:25px
}
.pr30 {
	padding-right:30px
}
.pr35 {
	padding-right:35px
}
.pr40 {
	padding-right:40px
}
.pr45 {
	padding-right:45px
}
.pr50 {
	padding-right:50px
}
/*padding-top*/
.pt5 {
	padding-top:5px
}
.pt10 {
	padding-top:10px
}
.pt15 {
	padding-top:15px
}
.pt20 {
	padding-top:20px
}
.pt25 {
	padding-top:25px
}
.pt30 {
	padding-top:30px
}
.pt35 {
	padding-top:35px
}
.pt40 {
	padding-top:40px
}
.pt45 {
	padding-top:45px
}
.pt50 {
	padding-top:50px
}

/*padding-bottom*/
.pb5 {
	padding-bottom:5px
}
.pb10 {
	padding-bottom:10px
}
.pb15 {
	padding-bottom:15px
}
.pb20 {
	padding-bottom:20px
}
.pb25 {
	padding-bottom:25px
}
.pb30 {
	padding-bottom:30px
}
.pb35 {
	padding-bottom:35px
}
.pb40 {
	padding-bottom:40px
}
.pb45 {
	padding-bottom:45px
}
.pb50 {
	padding-bottom:50px
}
/*margin-left*/
.ml5 {
	margin-left:5px
}
.ml10 {
	margin-left:10px
}
.ml15 {
	margin-left:15px
}
.ml20 {
	margin-left:20px
}
.ml25 {
	margin-left:25px
}
.ml30 {
	margin-left:30px
}
.ml35 {
	margin-left:35px
}
.ml40 {
	margin-left:40px
}
.ml45 {
	margin-left:45px
}
.ml50 {
	margin-left:50px
}
/*margin-right*/
.mr5 {
	margin-right:5px
}
.mr10 {
	margin-right:10px
}
.mr15 {
	margin-right:15px
}
.mr20 {
	margin-right:20px
}
.mr25 {
	margin-right:25px
}
.mr30 {
	margin-right:30px
}
.mr35 {
	margin-right:35px
}
.mr40 {
	margin-right:40px
}
.mr45 {
	margin-right:45px
}
.mr50 {
	margin-right:50px
}
/*margin-top*/
.mt5 {
	margin-top:5px
}
.mt10 {
	margin-top:10px
}
.mt15 {
	margin-top:15px
}
.mt20 {
	margin-top:20px
}
.mt25 {
	margin-top:25px
}
.mt30 {
	margin-top:30px
}
.mt35 {
	margin-top:35px
}
.mt40 {
	margin-top:40px
}
.mt45 {
	margin-top:45px
}
.mt50 {
	margin-top:50px
}
/*margin-bottom*/
.mb5 {
	margin-bottom:5px
}
.mb10 {
	margin-bottom:10px
}
.mb15 {
	margin-bottom:15px
}
.mb20 {
	margin-bottom:20px
}
.mb25 {
	margin-bottom:25px
}
.mb30 {
	margin-bottom:30px
}
.mb35 {
	margin-bottom:35px
}
.mb40 {
	margin-bottom:40px
}
.mb45 {
	margin-bottom:45px
}
.mb50 {
	margin-bottom:50px
}
/*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓后端添加↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/
.input-position-relative{position: relative;}
/*↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑后端添加↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑*/


/*清除浮动*/
.clearfix:after { content: ""; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-table; }
*html .clearfix { height: 1%; }
.clearfix { display: block; }
*+html .clearfix { min-height: 1%;}