<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label for="c-roomid" class="control-label col-xs-12 col-sm-2">所属房间:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_select('row[roomid]', $category, $row['roomid'], ['class'=>'form-control selectpicker', 'required'=>''])}
        </div>
    </div>
    <div class="form-group">
        <label for="c-name" class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" data-rule="required" class="form-control" name="row[name]" type="text" value="{$row.name}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-qq" class="control-label col-xs-12 col-sm-2">{:__('Qq')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-qq" data-rule="required" class="form-control" name="row[qq]" type="text" value="{$row.qq}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-qq_key" class="control-label col-xs-12 col-sm-2">{:__('企业qq KEY')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-qq_key" class="form-control" name="row[qq_key]" type="text" value="{$row.qq_key}">
        </div>
        企业qq要填，请去申请生成key值
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
